:root {
  --shadow: 0 0 5px 0 lightgrey;
  --bg-success: green;
  --bg-warning: yellow;
  --bg-error: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.container {
  width: 1100px;
  margin: auto;
}

header {
  background-color: cornflowerblue;
  box-shadow: var(--shadow);
}

footer {
  background-color: grey;
  box-shadow: var(--shadow);
}

.success {
  background-color: var(--bg-success);
}

.warning {
  background-color: var(--bg-warning);
}

.error {
  background-color: var(--bg-error);
}

main > div > div {
  display: none;
}

.c1 {
  display: block;
}

main > div > div:hover {
  display: block;
}