@import url("fonts/YanoneKaffeesatz.css");
@import url("fonts/OpenSans.css");

:root {
  --Caveat: "Caveat", cursive;
  --YanoneKaffeesatz: "Yanone Kaffeesatz", sans-serif;
  --OpenSans: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
}
